main {
    font-size: larger;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: flex-start; /* Aligns content to the top vertically */
    padding: 20px; /* Optional: Adds padding around the content */
    gap: 20px;

    .paragraph {
        max-width: 800px; /* Optional: Limits the width for better readability */
        width: 100%; /* Ensures the div takes full width available */
    }

    .paragraph h2 {
        margin-bottom: 10px; /* Adds space below headings */
    }

    .paragraph p {
        margin-bottom: 10px; /* Adds space below paragraphs */
        line-height: 1.6; /* Improves readability */
    }

    .ar {
        text-align: right; /* Aligns text to the right for arabic-based scripts*/
        font-size: x-large; /* Increases font size for better readability */
    }
}