@font-face {
    font-family: 'Geo';
    src: url('./assets/fonts/Geo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geo';
    src: url('./assets/fonts/Geo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --bg-color: #F2E8D0;
    --text-color: #332507;
    --link-color: #59471E;
}

body {
    background: var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #24292e;
}

@keyframes expandLangMenu {
    from {
        right: calc(-40px * 5);
    } to {
        right: 10px;
    }
}

.expand {
    animation: expandLangMenu 0.5s forwards;
}

@keyframes hideLangMenu {
    from {
        right: 10px;
    } to {
        right: calc(-40px * 5);
    }
}

.hide {
    animation: hideLangMenu 0.5s forwards;
}

header {
    font-family: Geo;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .language-switch-radio {

        position: fixed;
        top: 10px;
        right: calc(-40px * 5);
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);

        border-radius: 5px;

        form {

            display: flex;
            gap: 5px;
            background-color: var(--popup-bg-color);
            border-radius: inherit;
            padding: 3px;
            input {
                appearance: none;
                opacity: 0;
            }

            label:has(input:disabled) {
                background-color: #be7b0d;
            }

            label {
                padding: 8px 8px 5px 5px;
                border-radius: 5px;
                transition-duration: 0.3s;
                cursor: pointer;
            }

            label:has(input:checked) {
                background-color: var(--link-color);
                color: var(--bg-color);
            }

            #arabic-lang {
                padding: 3px 3px 3px 1px;
            }
        }
        transition: all ease-in-out 0.5s;
    }


    #logo-img {
        width: 300px;
        padding-top: 30px;
        position: sticky;
        top: 0;
    }

    .shrink {
        -webkit-animation: shrink 0.5s forwards;
        -o-animation: shrink 0.5s forwards;
        animation: shrink 0.5s forwards;
    }

    nav ul {
        padding: 0;
        display: flex;
        gap: 25px;
        width: 50vw;
        justify-content: space-evenly;
        list-style: none;

        li {

            .bg-img {
                position: absolute;
                filter: opacity(0.7);
                transform: translateY(-12px) translateX(-15px);
                width: 50px;
                height: 50px;
                z-index: -1;
                opacity: 0;
            }

            padding: 3px 5px;

            a {
                text-decoration: none;
                color: var(--link-color);
                font-size: 1.4em;
            }
        }

    }

}

.fade-in {
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
    -o-animation: fadeIn 0.5s ease-in-out forwards;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
    -o-animation: fadeOut 0.5s ease-in-out forwards;
    animation: fadeOut 0.5s ease-in-out forwards;
}

.active {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

@keyframes shrink {
    from {
        width: 300px
    }
    to {
        width: 150px;
    }
}

@keyframes magnify {
    from {
        width: 150px
    }
    to {
        width: 300px;
    }
}